:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  background-color: #242424;
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* Centers the #app horizontally */
  padding: 50px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centers the #app horizontally */
}


/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-bottom: 3px solid #fff;
}

header .title {
  font-size: 1.5rem;
  font-weight: bold;
}

header .developer {
  font-size: 1rem;
  font-style: italic;
}

main{
  display: flex;
  gap: 320px;
}

footer {
  text-align: center;
  background-color: rgb(0, 208, 255);
  color: black;
  padding: 5px;
  margin-top: 2rem;
}

footer {
  display: block;
  unicode-bidi: isolate;
}

.game_grid{
  border: 2px solid rgb(0, 208, 255);
  display: grid;
  grid-template: repeat(10, 45px) / repeat(10, 45px);
}

.game_grid>div{
  border: 0.5px solid rgb(0, 208, 255);
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: red;
  columns: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 40px;
  z-index: 1001;
}

.modal-content button {
  margin-top: 20px;
}

.modal-content>p {
  font-weight: 700;
}

.hidden {
  display: none;
}

#restart{
  font-size: 20px;
  width: 150px;
  height: 50px;
  background-color: white;
  color: red;
  border-radius: 10px;
}


.player-info {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 8px;
  margin-bottom: 20px;
}

.player-info .player,
.player-info .computer {
  display: flex;
  flex-direction: column;
  align-items: center;
}